sq-progress-bar {
    display: block;
    width: 100%;

    .progressBar_wrapper {
        margin: .4rem 0;
        position: relative;
        
        .progressBar_inner {
            span {
                display: inline-block;
            }
            
        }
        
        .tapOverlay {
            position: absolute;
            width: 100%;
            top: 0;
            text-align: center;
            
        }
        
        &[overlay-active=true]  {
            .progressBar_inner {
                opacity: .4;
            }
        }
        &[overlay-active=false] {
            .tapOverlay{
                display: none;
            }
        }

    }
}