/* Document Level Styles */
@import "~overlayscrollbars/css/OverlayScrollbars.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
@media (min-width: 360px) {
    html {
        font-size: 18px;
    }
}

* {
    -webkit-overflow-scrolling: auto;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: '7_12', monospace;
    color: var(--sq-color-primary);
    text-shadow: 0 0 .5rem;
    background-color: var(--sq-color-primary-contrast);
}

/* *::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
*::-webkit-scrollbar:vertical {
    border-left: .25rem solid var(--sq-color-primary-contrast);
    padding-right: .25rem;
}
*::-webkit-scrollbar:horizontal {
    border-top: .25rem solid var(--sq-color-primary-contrast);
    border-bottom: .25rem solid var(--sq-color-primary-contrast);
}
*::-webkit-scrollbar {
    width: .75rem;
    height: .75rem;
    opacity: 1;
    background-color: var(--sq-color-primary-contrast);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--sq-color-primary);
    box-shadow: 0 0 .3rem var(--sq-color-primary);
}
*::-webkit-scrollbar-thumb:vertical {
    min-height: 2rem;
}
*::-webkit-scrollbar-thumb:horizontal {
    min-width: 2rem;
} */

sq-app {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

sq-app, .sqPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
}

h1, h2, h3, h4, h5, p, button, div, input {
    font-family: '7_12', monospace;
    text-shadow: 0 0 .5rem;
    letter-spacing: .1rem;
}

h1 {
    margin: .8rem;
    font-size: 1.8rem;
}

.headlineRow {
    display: flex;
    align-items: center;
}
.headlineRow hr {
    flex: 1;
}

hr {
    border-bottom: 2px solid var(--sq-color-primary);
    box-shadow: 0 0 .3rem var(--sq-color-primary);
    margin-bottom: 4px;
    margin-top: 4px;
}

.coreContent {
    background-color: var(--sq-color-primary-contrast) !important;
    overflow: auto;
    height: 100%;
}

.sqHeader, .sqFooter, .coreContent {
    padding: 12px 15px;
}
.sqHeader {
    padding-bottom: 0;
}
.sqFooter {
    padding-top: 0;
}
section:last-child {
    padding-bottom: 0;
}

p:first-child {
    margin-top: 0;
}

p, button, div {
    font-size: 1rem;
}

p.niceText {
    line-height: .9;
}

button {
    /* reset */
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0;
    font-style: inherit;
    font-variant: inherit;
    text-transform: none;
    -webkit-appearance: button;
    /* end reset */

    padding: .4rem;
    line-height: initial;
    background-color: transparent;
    color: var(--sq-color-primary);
}

button:active, button:focus {
    outline: none;
}

button.selected {
    background-color: var(--sq-color-primary);
    color: var(--sq-color-primary-contrast);
    box-shadow: 0 0 .5rem var(--sq-color-primary);
    text-shadow: 0 0 .2rem;
}

button[disabled] {
    opacity: .4;
}

.buttonRow button {
    margin-right: .5rem;
}

input {
    background-color: var(--sq-color-primary-contrast);
    color: inherit;
    border: none;
    margin: 0;
    text-align: right;
    padding-right: .9rem;
    font: inherit;
}
input:focus {
    outline: none;
}
input::placeholder {
    color: rbga(var(--sq-color-primary-rgb, .2));
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    box-shadow: 0 0 .4rem var(--sq-color-primary), inset 0 0 .4rem var(--sq-color-primary);
}

thead {
    background-color: var(--sq-color-primary);
    color: var(--sq-color-primary-contrast);
    box-shadow: 0 1px .4rem var(--sq-color-primary);
}

th {
    text-align: left;
    text-shadow: 0 0 .2rem;
    font-weight: normal;
}

th, td:not(.placeholderRow) {
    padding: .3rem 1rem .3rem 0;
    vertical-align: top;
}
th:last-child, td:last-child {
    padding-right: .4rem;
    text-align: right;
}
th:first-child, td:first-child {
    padding-left: .4rem;
    padding-right: 1rem;
    text-align: left;
}

.indentRow{
    padding-left: .4rem;
    padding-right: .4rem;
}

.textRow {
    line-height: 1.3;
    padding-left: .4rem;
    padding-right: .4rem;
}

tr, .textRow {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.textRow-highlight {
    background-color: var(--sq-color-primary);
    color: var(--sq-color-primary-contrast);
    text-shadow: 0 0 .1rem;
    box-shadow: 0 0 .4rem var(--sq-color-primary);
}

.textRow-scroll {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
}
.textRow-scroll:not([scrolled="true"]) {
    text-overflow: ellipsis;
}

.listBox {
    border: 2px solid;
    min-height: 7rem;
    box-shadow: 0 0 .4rem var(--sq-color-primary), inset 0 0 .4rem var(--sq-color-primary);
    font-family: '7_12', monospace;
}

.listBox tr:not(:last-child) {
    height: min-content;
}

.listBox .buttonRow {
    padding: .4rem
}


:root {
    --sq-color-primary-contrast: #222922;
    --sq-color-primary-contrast-rgb: 34,41,34;
    --sq-color-primary: #61f180;
    --sq-color-primary-rgb: 97,241,128;
    --ion-color-primary: #61f180;
    --ion-color-primary-rgb: 97,241,128;
    --ion-color-primary-contrast: #222922;
    --ion-color-primary-contrast-rgb: 34,41,34;
    --ion-color-primary-shade: #61f180;
    --ion-color-primary-tint: #61f180;
    --ion-background-md-color: var(--sq-color-primary-contrast);
    --ion-background-ios-color: var(--sq-color-primary-contrast);
    --ion-background-color: var(--sq-color-primary-contrast);
    --ion-toolbar-md-background-color: var(--sq-color-primary-contrast);
    --ion-toolbar-ios-background-color: var(--sq-color-primary-contrast);
    --ion-toolbar-background-color: var(--sq-color-primary-contrast);
    --ion-text-md-color: var(--sq-color-primary);
    --ion-text-ios-color: var(--sq-color-primary);
    --ion-text-color: var(--sq-color-primary);
}

[sq-flex] {
    display: flex;
}

[sq-mr-auto] {
    margin-right: auto;
}
[sq-ml-auto] {
    margin-left: auto;
}

/* [sq-scrollable] {

} */

@font-face {
    font-family: '7_12';
    src: url('/assets/fonts/7_12-Serif.woff');
}

/** SimpleBar overrides **/
/* sq-app .simplebar-scrollbar {
    box-shadow: 0 0 .3rem var(--sq-color-primary);
}
sq-app .simplebar-track.simplebar-vertical {
    width: 15px;
}
sq-app .simplebar-vertical .simplebar-scrollbar {
    right: 5px;
    width: 10px;
    max-height: 5rem;
    min-height: 5rem;
}
sq-app .simplebar-track.simplebar-horizontal {
    height: 15px;
}
sq-app .simplebar-horizontal .simplebar-scrollbar {
    bottom: 5px;
    height: 10px;
    max-width: 5rem;
    min-width: 5rem;
}
sq-app .simplebar-scrollbar::before {
    background-color: var(--sq-color-primary);
    border-radius: 0;
}
sq-app .simplebar-track .simplebar-scrollbar.simplebar-visible::before{
    opacity: 1;
} */

/** OverlayScrollbars overrides & styles **/
sq-app [sq-scrollable]:not(.os-host-scrollbar-vertical-hidden) {
    padding-right: 12px;
}
sq-app [sq-scrollable]:not(.os-host-scrollbar-horizontal-hidden) {
    padding-bottom: 12px;
}
sq-app [sq-scrollable] .os-scrollbar {
    padding: 0;
}
sq-app [sq-scrollable] .os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background-color: var(--sq-color-primary);
    box-shadow: 0 0 .3rem var(--sq-color-primary);
    border-radius: 0;
}
sq-app [sq-scrollable] .os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active {
    background-color: var(--sq-color-primary);
}
sq-app [sq-scrollable] .os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
    background-color: var(--sq-color-primary);
}
sq-app [sq-scrollable] .os-scrollbar.os-scrollbar-vertical {
    width: 12px;
}
sq-app [sq-scrollable] .os-scrollbar.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle {
    min-height: 5rem;
    max-height: 5rem;
}
sq-app [sq-scrollable] .os-scrollbar.os-scrollbar-horizontal {
    height: 12px;
}
sq-app [sq-scrollable] .os-scrollbar.os-scrollbar-horizontal>.os-scrollbar-track>.os-scrollbar-handle {
    min-width: 5rem;
    max-width: 5rem;
}