sq-app {
    .appLoading, .appCenter {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5rem;
    }
}