<ion-header>
  <ion-navbar>
    <ion-title>
      Progress
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group (ionChange)="updateSelectedQuestType($event)">
    <ion-list-header>
      What type of questing do you want to do?
    </ion-list-header>
    <ion-item *ngFor="let type of QuestTypeValues">
      <ion-label>{{QuestTypes[type]}}</ion-label>
      <ion-radio checked="{{type == selectedQuestType}}" value="{{type}}"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Tasks</ion-list-header>
    <ion-item *ngFor="let task of task$ | async | slice:0:5">
      {{RewardTypes[task.primaryReward]}}: {{task.name}}
      <ion-note item-right>
        {{task.isComplete ? '100%' : ((curTime.getTime() - task.startTime.getTime()) / (task.durationSeconds
        * 1000)) | percent:'1.0-0'}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>