@import '../global/app.css';

ion-page {
    ion-header, ion-footer, ion-scroll {
        padding: 15px;
    }

    .charSheetSection:not(.charSheetSection-selected) {
        display: none
    }

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
    }

    thead {
        background-color: var(--sq-color-primary);
        color: var(--sq-color-primary-contrast);
        font-weight: bold;
        text-shadow: 0 0 .1rem;
    }

    th {
        text-align: left;
    }

    th, td:not(.placeholderRow) {
        padding: .3rem 1rem .3rem 0;
        vertical-align: top;
    }
    th:last-child, td:last-child {
        padding-right: .4rem;
        text-align: right;
    }
    th:first-child, td:first-child {
        padding-left: .4rem;
        padding-right: 1rem;
        text-align: left;
    }

    .textRow {
        // padding: .3rem 0;
        line-height: 1.3;
        padding-left: .4rem;
        padding-right: .4rem;
    }

    tr, .textRow {
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }

    .listBox {
        border: 2px solid;
        min-height: 7rem;

        & tr:not(:last-child) {
            height: min-content;
        }
    }

    .textRow-highlight {
        background-color: var(--sq-color-primary);
        color: var(--sq-color-primary-contrast);
        font-weight: bold;
        text-shadow: 0 0 .1rem;
    }

    .buttonRow button {
        margin-right: .5rem;
    }
}
